## 1)

In [31]:
import pandas as pd
patients = pd.read_csv("patients.csv")
patients

,Name,Age,Gender,BloodGroup,Weight(kg),Height(m),SystolicBloodPressure(mmHg),DiastolicBloodPressure(mmHg),Temperature(F),Diabetes
0,P.Lee,35,Female,ARh+,50,1.52,68,112,98.7,0
1,R.Jones,52,Male,ORh-,115,1.77,110,154,98.5,1
2,J.Smith,45,Male,ORh+,96,1.83,88,136,98.8,0
3,A.Patel,70,NaN,ORh-,41,1.55,76,125,98.6,0
4,M.Owen,24,Male,ARh-,79,1.82,65,105,98.7,0
5,S.Green,43,Male,ORh-,109,1.89,114,159,98.9,1
6,N.Cook,68,Male,ARh+,73,1.76,108,136,99.0,0
7,W.Hands,77,Female,ORh-,104,1.71,107,145,98.3,1
8,P.Rice,45,Female,ORh+,64,NaN,101,132,98.6,0
9,F.Marsh,28,Male,ORh+,136,1.78,121,165,98.7,1

## 2)

The person in row 3 is short and light and we can assume that it is a woman (although we cannot be sure!).

In [43]:
patients.iloc[[3],[2]] = "Female"
patients[3:4]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Name,Age,Gender,BloodGroup,Weight(kg),Height(m),SystolicBloodPressure(mmHg),DiastolicBloodPressure(mmHg),Temperature(F),Diabetes
3,A.Patel,70,bla,ORh-,41,1.55,76,125,98.6,0

There is a woman's height missing (row 8). We'll set the mean of all women's heights in the sample as the value. This is a very rough way of imputing the value, but it is better than using the mean of all heights.

In [42]:
patients["Gender"][3:4]

3    Female
Name: Gender, dtype: object

In [36]:
patients['Height(m)'][8]

nan

In [34]:
patients['Gender']

0    Female
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8    Female
9      Male
Name: Gender, dtype: object