# Dictionaries

## Without dictionaries...

In [ ]:
# Definition of countries and capitals
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index("germany")

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

## Create a dictionary

In [14]:
# From strings in countries and capitals above create dictionary europe
europe = { 'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

## Access the dictionary

In [15]:
# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

## Dictionary manipulation

In [17]:
# From strings in countries and capitals above create dictionary europe
europe = { 'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'australia':'canberra' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Print europe
print(europe)

# Add poland to europe
europe['poland'] = 'warsaw'

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'australia': 'canberra', 'italy': 'rome'}
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

## Dictionary of dictionaries

In [19]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

# Print the dictionary of dictionaries
print(europe)

# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}}
paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

# Pandas (library)

## The data frame

In [1]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs, where the keys are names and the values are lists
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc }

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

## Row labels

In [4]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

# Write cars to a csv file
cars.to_csv("cars.csv")

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

## Reading data from a comma-separated value (CSV) file

In [29]:
# Import the iris.csv data: 
iris = pd.read_csv("iris.csv")

# Print out iris
print(iris)

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  \
0             1           5.1          3.5           1.4          0.2
1             2           4.9          3.0           1.4          0.2
2             3           4.7          3.2           1.3          0.2
3             4           4.6          3.1           1.5          0.2
4             5           5.0          3.6           1.4          0.2
5             6           5.4          3.9           1.7          0.4
6             7           4.6          3.4           1.4          0.3
7             8           5.0          3.4           1.5          0.2
8             9           4.4          2.9           1.4          0.2
9            10           4.9          3.1           1.5          0.1
10           11           5.4          3.7           1.5          0.2
11           12           4.8          3.4           1.6          0.2
12           13           4.8          3.0           1.4          0.1
13           14           4.3          3.0           1.1          0.1
14           15           5.8          4.0           1.2          0.2
15           16           5.7          4.4           1.5          0.4
16           17           5.4          3.9           1.3          0.4
17           18           5.1          3.5           1.4          0.3
18           19           5.7          3.8           1.7          0.3
19           20           5.1          3.8           1.5          0.3
20           21           5.4          3.4           1.7          0.2
21           22           5.1          3.7           1.5          0.4
22           23           4.6          3.6           1.0          0.2
23           24           5.1          3.3           1.7          0.5
24           25           4.8          3.4           1.9          0.2
25           26           5.0          3.0           1.6          0.2
26           27           5.0          3.4           1.6          0.4
27           28           5.2          3.5           1.5          0.2
28           29           5.2          3.4           1.4          0.2
29           30           4.7          3.2           1.6          0.2
..          ...           ...          ...           ...          ...
120         121           6.9          3.2           5.7          2.3
121         122           5.6          2.8           4.9          2.0
122         123           7.7          2.8           6.7          2.0
123         124           6.3          2.7           4.9          1.8
124         125           6.7          3.3           5.7          2.1
125         126           7.2          3.2           6.0          1.8
126         127           6.2          2.8           4.8          1.8
127         128           6.1          3.0           4.9          1.8
128         129           6.4          2.8           5.6          2.1
129         130           7.2          3.0           5.8          1.6
130         131           7.4          2.8           6.1          1.9
131         132           7.9          3.8           6.4          2.0
132         133           6.4          2.8           5.6          2.2
133         134           6.3          2.8           5.1          1.5
134         135           6.1          2.6           5.6          1.4
135         136           7.7          3.0           6.1          2.3
136         137           6.3          3.4           5.6          2.4
137         138           6.4          3.1           5.5          1.8
138         139           6.0          3.0           4.8          1.8
139         140           6.9          3.1           5.4          2.1
140         141           6.7          3.1           5.6          2.4
141         142           6.9          3.1           5.1          2.3
142         143           5.8          2.7           5.1          1.9
143         144           6.8          3.2           5.9          2.3
144         145           6.7          3.3           5.7          2.5
145         146           6.7          3.0           5.2          2.3
146         147           6.3          2.5           5.0          1.9
147         148           6.5          3.0           5.2          2.0
148         149           6.2          3.4           5.4          2.3
149         150           5.9          3.0           5.1          1.8

       Species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
5       setosa
6       setosa
7       setosa
8       setosa
9       setosa
10      setosa
11      setosa
12      setosa
13      setosa
14      setosa
15      setosa
16      setosa
17      setosa
18      setosa
19      setosa
20      setosa
21      setosa
22      setosa
23      setosa
24      setosa
25      setosa
26      setosa
27      setosa
28      setosa
29      setosa
..         ...
120  virginica
121  virginica
122  virginica
123  virginica
124  virginica
125  virginica
126  virginica
127  virginica
128  virginica
129  virginica
130  virginica
131  virginica
132  virginica
133  virginica
134  virginica
135  virginica
136  virginica
137  virginica
138  virginica
139  virginica
140  virginica
141  virginica
142  virginica
143  virginica
144  virginica
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 6 columns]

In [30]:
# To specify that the first column (with index 0) contains indices rather than actual data, we can use
iris = pd.read_csv("iris.csv", index_col = 0)

print(iris)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
6             5.4          3.9           1.7          0.4     setosa
7             4.6          3.4           1.4          0.3     setosa
8             5.0          3.4           1.5          0.2     setosa
9             4.4          2.9           1.4          0.2     setosa
10            4.9          3.1           1.5          0.1     setosa
11            5.4          3.7           1.5          0.2     setosa
12            4.8          3.4           1.6          0.2     setosa
13            4.8          3.0           1.4          0.1     setosa
14            4.3          3.0           1.1          0.1     setosa
15            5.8          4.0           1.2          0.2     setosa
16            5.7          4.4           1.5          0.4     setosa
17            5.4          3.9           1.3          0.4     setosa
18            5.1          3.5           1.4          0.3     setosa
19            5.7          3.8           1.7          0.3     setosa
20            5.1          3.8           1.5          0.3     setosa
21            5.4          3.4           1.7          0.2     setosa
22            5.1          3.7           1.5          0.4     setosa
23            4.6          3.6           1.0          0.2     setosa
24            5.1          3.3           1.7          0.5     setosa
25            4.8          3.4           1.9          0.2     setosa
26            5.0          3.0           1.6          0.2     setosa
27            5.0          3.4           1.6          0.4     setosa
28            5.2          3.5           1.5          0.2     setosa
29            5.2          3.4           1.4          0.2     setosa
30            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
121           6.9          3.2           5.7          2.3  virginica
122           5.6          2.8           4.9          2.0  virginica
123           7.7          2.8           6.7          2.0  virginica
124           6.3          2.7           4.9          1.8  virginica
125           6.7          3.3           5.7          2.1  virginica
126           7.2          3.2           6.0          1.8  virginica
127           6.2          2.8           4.8          1.8  virginica
128           6.1          3.0           4.9          1.8  virginica
129           6.4          2.8           5.6          2.1  virginica
130           7.2          3.0           5.8          1.6  virginica
131           7.4          2.8           6.1          1.9  virginica
132           7.9          3.8           6.4          2.0  virginica
133           6.4          2.8           5.6          2.2  virginica
134           6.3          2.8           5.1          1.5  virginica
135           6.1          2.6           5.6          1.4  virginica
136           7.7          3.0           6.1          2.3  virginica
137           6.3          3.4           5.6          2.4  virginica
138           6.4          3.1           5.5          1.8  virginica
139           6.0          3.0           4.8          1.8  virginica
140           6.9          3.1           5.4          2.1  virginica
141           6.7          3.1           5.6          2.4  virginica
142           6.9          3.1           5.1          2.3  virginica
143           5.8          2.7           5.1          1.9  virginica
144           6.8          3.2           5.9          2.3  virginica
145           6.7          3.3           5.7          2.5  virginica
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Sub-setting a data frame

### Using column names

In [35]:
# Print out country column as Pandas Series
print(cars['country'])

# Print out country column as Pandas DataFrame
print(cars[['country']])

# Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

### Using row indices

In [36]:
# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
     country  drives_right  cars_per_cap
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70

### Using loc and iloc (the most flexible way)

#### Using row indexing alone

In [43]:
print(cars)
print("------------------------------")

# Print out observation for Japan
print(cars.loc['JAP'])
print(cars.iloc[2])
print("------------------------------")

# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])
print(cars.iloc[[1, 6]])
print("------------------------------")

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
------------------------------
country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object
country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object
------------------------------
       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45
       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45
------------------------------

#### Using row and column indexing together

In [44]:
print(cars)
print("------------------------------")

# Print out drives_right value of Morocco
print(cars.loc[['MOR'],['drives_right']])
print("------------------------------")

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'],['country', 'drives_right']])
print("------------------------------")

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
------------------------------
     drives_right
MOR          True
------------------------------
     country  drives_right
RU    Russia          True
MOR  Morocco          True
------------------------------

#### Further examples

In [45]:
print(cars)
print("------------------------------")

# Print out drives_right column as Series
print(cars.loc[:, 'drives_right'])
print(cars.iloc[:, 2])
print("------------------------------")

# Print out drives_right column as DataFrame
print(cars.loc[:, ['drives_right']])
print(cars.iloc[:, [2]])
print("------------------------------")

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:, ['cars_per_cap', 'drives_right']])
print("------------------------------")

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
------------------------------
US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64
------------------------------
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap
US            809
AUS           731
JAP           588
IN             18
RU            200
MOR            70
EG             45
------------------------------
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True
------------------------------