# Loops

## While loops

In [1]:
# How many numbers will be printed? Predict before running
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [3]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

## For loops

In [4]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

In [5]:
# Change for loop to use enumerate() and update print()
for i, a in enumerate(areas) :
    print("room " + str(i) + ": " + str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [7]:

# The following loop uses base-1 (natural) indices
for index, area in enumerate(areas) :
    print("room " + str(index + 1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

## Loops over data structures

### Dictionary

In [8]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items() :
    print("the capital of " + key + " is " + value)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

### Numpy arrays

In [18]:
import numpy as np

ages_and_heights = [[12, 150],
                    [17, 165],
                    [21, 172],
                    [25, 170],
                    [81, 180]]
np_ages_and_heights = np.array(ages_and_heights)
np_ages = np.array(np_ages_and_heights[:,0])

# For loop over np_ages
for a in np_ages:
    print(str(a) + " years")

# For loop over np_ages_and_heights
for x in np.nditer(np_ages_and_heights):
    print(x)

12 years
17 years
21 years
25 years
81 years
12
150
17
165
21
172
25
170
81
180

### Dataframes

In [21]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in cars.iterrows() :
    print(lab)
    print(row)

# Or only cars per capita
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object
AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object
JAP
country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object
IN
country         India
drives_right    False
cars_per_cap       18
Name: IN, dtype: object
RU
country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object
MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object
EG
country         Egypt
drives_right     True
cars_per_cap       45
Name: EG, dtype: object
US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

Now we add a new column and values using a loop

In [31]:
# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows() :
    cars.loc[lab, "COUNTRY"] = row['country'].upper()

print(cars)

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JAP          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT

In [32]:
# Use .apply(str.upper)
cars["COUNTRY"] = cars["COUNTRY"].apply(str.lower)

print(cars)

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  united states
AUS      Australia         False           731      australia
JAP          Japan         False           588          japan
IN           India         False            18          india
RU          Russia          True           200         russia
MOR        Morocco          True            70        morocco
EG           Egypt          True            45          egypt